
<!-- @import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap"); -->

<main class="page-content">
    <div class="card card-new-born">
      <div class="content">
        <h2 class="title">New Born 1</h2>
        <ul>
            <li>Chụp 2 Trang phục – 2 Cảnh tùy chọn</li>
            <li>Giao toàn bộ file Gốc (dung lượng cao )</li>
            <li>Tặng 10 ảnh Photoshop và rửa khổ 15x 21</li>
            <li>Tặng Ảnh Ép Gỗ cao cấp 20 X 30</li>
        </ul>
        <a class="btn spotlight" href="./uploads/newborn/2.webp">
          1.499.000 VND
        </a>
      </div>
    </div>
    <div class="card card-new-born">
      <div class="content">
        <h2 class="title">New Born 2</h2>
        <ul>
            <li>Chụp 2 Trang phục – 2 Cảnh tùy chọn</li>
            <li>Giao toàn bộ file Gốc (dung lượng cao )</li>
            <li>Tặng 10 ảnh Photoshop và rửa khổ 15x 21</li>
            <li>Tặng Ảnh Ép Gỗ cao cấp 20 X 30</li>
        </ul>
        <a class="btn spotlight" href="./uploads/newborn/3.webp">
          1.999.000 VND
        </a>
      </div>
    </div>
    <div class="card card-new-born">
      <div class="content">
        <h2 class="title">New Born 3</h2>
        <ul>
            <li>Chụp 2 Trang phục – 2 Cảnh tùy chọn</li>
            <li>Giao toàn bộ file Gốc (dung lượng cao )</li>
            <li>Tặng 10 ảnh Photoshop và rửa khổ 15x 21</li>
            <li>Tặng Ảnh Ép Gỗ cao cấp 20 X 30</li>
        </ul>
        <a class="btn spotlight" href="./uploads/newborn/4.webp">
          2.299.000 VND
        </a>
      </div>
    </div>
    <div class="card card-new-born">
      <div class="content">
        <h2 class="title">New Born 4</h2>
        <ul>
            <li>Chụp 2 Trang phục – 2 Cảnh tùy chọn</li>
            <li>Giao toàn bộ file Gốc (dung lượng cao )</li>
            <li>Tặng 10 ảnh Photoshop và rửa khổ 15x 21</li>
            <li>Tặng Ảnh Ép Gỗ cao cấp 20 X 30</li>
        </ul>
        <a class="btn spotlight" href="./uploads/newborn/5.webp">
          2.499.000 VND
        </a>
      </div>
    </div>
  </main>