
<!-- @import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap"); -->

<main class="page-content">
    <div class="card card-baby">
      <div class="content">
        <h2 class="title">Baby 1</h2>
        <ul>
            <li>Giao toàn bộ file Gốc (dung lượng cao )</li>
            <li>Thời gian chụp : 1,5 giờ</li>
            <li>Tặng Ảnh Ép Gỗ cao cấp 30 x 45</li>
            <li>Tặng 15 ảnh Photoshop và rửa ra khổ 15x21</li>
        </ul>
        <a class="btn spotlight" href="./uploads/baby/10.webp">
          999.000 VND
        </a>
      </div>
    </div>
    <div class="card card-baby">
      <div class="content">
        <h2 class="title">Baby 2</h2>
        <ul>
            <li>TẠI STUDIO : 4 bộ trang phục – 4 Cảnh</li>
            <li>CHỤP TẠI NHÀ: 3 bộ trang phục – 3 Cảnh</li>
            <li>Giao toàn bộ file Gốc (dung lượng cao)</li>
            <li>Thời gian chụp : 2 giờ</li>
            <li>Tặng 20 ảnh Photoshop và rửa ra khổ 15x21</li>
            <li>Tặng Ảnh Ép Gỗ cao cấp khổ lớn 40x60</li>
            <li>Hỗ trợ Bố Mẹ Chụp Gia Đình</li>
        </ul>
        <a class="btn spotlight" href="./uploads/baby/11.webp">
          1.299.000 VND
        </a>
      </div>
    </div>
    <div class="card card-baby">
      <div class="content">
        <h2 class="title">Baby 3</h2>
        <ul>
            <li>TẠI STUDIO : 5 bộ trang phục – 5 Cảnh</li>
            <li>CHỤP TẠI NHÀ: 4 bộ trang phục – 3 Cảnh</li>
            <li>Giao toàn bộ file Gốc (dung lượng cao)</li>
            <li>Thời gian chụp : 2,5 giờ</li>
            <li>Tặng 30 ảnh Photoshop và rửa ra khổ 15x 21</li>
            <li>Tặng Ảnh Ép Gỗ cao cấp khổ lớn 50 x 75</li>
            <li>TẶNG ALBUM CAO CẤP KHỔ 20 X 20</li>
            <li>Tặng Video Clip trình chiếu ảnh Tiệc</li>
            <li>Hỗ trợ Bố Mẹ Chụp Gia Đình</li>
        </ul>
        <a class="btn spotlight" href="./uploads/baby/12.webp">
          1.499.000 VND
        </a>
      </div>
    </div>
    <div class="card card-baby">
      <div class="content">
        <h2 class="title">Baby 4</h2>
        <ul>
            <li>TẠI STUDIO : 5 bộ trang phục – 5 Cảnh</li>
            <li>CHỤP TẠI NHÀ: 4 bộ trang phục – 3 Cảnh</li>
            <li>Giao toàn bộ file Gốc (dung lượng cao)</li>
            <li>Thời gian chụp : 3 giờ</li>
            <li>Tặng 40 ảnh Photoshop và rửa ra khổ 15x 21</li>
            <li>Tặng Ảnh Ép Gỗ cao cấp khổ lớn 60 x 90</li>
            <li>TẶNG ALBUM CAO CẤP KHỔ 25 X 25</li>
            <li>Tặng Video Clip trình chiếu ảnh Tiệc</li>
            <li>Hỗ trợ Bố Mẹ Chụp Gia Đình</li>
        </ul>
        <a class="btn spotlight" href="./uploads/baby/13.webp">
          1.999.000 VND
        </a>
      </div>
    </div>
</main>