    <div class="container-fluid mt-5">
        <div class="row">
          <footer class="footer font-dacing d-flex justify-content-center align-items-center flex-column">
            <div class="copyright mb-3">
              Copyright @ 2020
            </div>
            <div class="social">
              <a href="https://www.facebook.com/GauSTUDIO" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://gmail.com" target="_blank">
                <i class="far fa-envelope"></i>
              </a>
              <a href="https://instagram.com" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </footer>
        </div>
    </div>
    
    <div id="scroll-to-top">
        <i class="fas fa-sort-up"></i>
    </div>
    <!-- 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    <script src="https://rawcdn.githack.com/nextapps-de/spotlight/0.6.3/dist/spotlight.bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/spotlight.bundle.js"></script>
    <script src="./js/swiper-bundle.min.js"></script>
    <script src="./js/script.js"></script>
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/5e4ba9c2298c395d1ce87ca5/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
    </script>
</body>
</html>