<div class="slide">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a class="spotlight" href="./uploads/baby/1.webp">
          <img src="./uploads/baby/1.webp" />
        </a>
      </div>
      <div class="swiper-slide">
        <a class="spotlight" href="./uploads/baby/7.webp">        
          <img src="./uploads/baby/7.webp" />
        </a>
      </div>
      <div class="swiper-slide">
        <a class="spotlight" href="./uploads/baby/8.webp">        
          <img src="./uploads/baby/8.webp" />
        </a>
      </div>
      <div class="swiper-slide">
        <a class="spotlight" href="./uploads/baby/9.webp">        
          <img src="./uploads/baby/9.webp" />
        </a>
      </div>
      <div class="swiper-slide">
        <a class="spotlight"
            href="./uploads/newborn/1.webp">
          <img src="./uploads/newborn/1.webp" />
        </a>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
