<%- include('components/header') -%>
<%- include('components/navbar') -%>

<div class="container card-text mt-5">
    <div class="row header d-flex justify-content-center mt-5">
        <h1>Liên hệ</h1>
    </div>
    <div class="row d-flex justify-content-center flex-column align-items-center">
        <div class="contact fz-standard mt-5 l-20">
            <p><i class="far fa-envelope"></i>Email: pandababy@hgvt.edu.vn</p>
            <p><i class="fas fa-phone-alt"></i>Phone: 0986983052</p>
            <p><i class="fas fa-map-marker-alt"></i>Địa chỉ: hẻm 703 tổ 10 kp 2. phường tam hiệp </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="text-maxim font-dacing">
        "Trẻ nhỏ sẽ không nhớ bạn vì vật chất bạn cho chúng, mà vì tình cảm bạn dành cho chúng."
      </div>
    </div>
</div>
  
<%- include('components/footer') -%>