<%- include('components/header') -%>
<%- include('components/navbar') -%>

<div class="container card-text p-5 mt-5">
    <div class="row header d-flex justify-content-center mt-5">
        <h1>GIỚI THIỆU</h1>
    </div>
    <div class="row">
        <div class="introduct mt-5 font-dacing">
            Baby Chip Studio ra đời với mục đích giúp các bé ghi lại khoảng thời gian đẹp nhất từ lúc Sơ Sinh trong tháng cho đến khi bé bắt đầu khôn lớn. Là một studio chuyên nghiệp dành cho các bé từ 0 đến 1 tuổi. Baby Chip Studio thực hiện những album ảnh, những trang nhật ký bằng ảnh lưu giữ những phút giây đáng yêu nhất của bé.
            <ul class="font-dacing">
                <li> Với đội ngũ nhân viên đầy năng lực và dày dặn kinh nghiệm, tác phong chuyên nghiệp, tinh thần làm việc nghiêm túc.</li>
                <li>Nguồn nhân lực trẻ có sức sáng tạo không ngừng và có đủ kỷ năng giao tiếp với bé.</li>
                <li>Luôn có cảnh mới cho từng trang phục, Cảnh được setup tự nhiên không ghép cảnh.</li>
            </ul>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="myself">
            <img src="../images/myself.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="introduct mt-5 font-dacing">
            Chúng tôi mang tới cho khách hàng không chỉ là sự hài lòng qua từng gói chụp mà còn giúp khách ghi lại những khoảnh khắc đáng yêu nhất của bé, .Baby Chip Studio chuyên cung cấp các dịch vụ:

            <ul class="ul-style-number font-dacing">
                <li>Chụp hình Bé Sơ Sinh ( 7 ngày đến 45 ngày)</li>
                <li>Chụp hình Bé Cute</li>
                <li> Chụp hình Gia Đình</li>
                <li>Chụp hình Mẹ Bầu</li>
            </ul>
            Bạn chắc chắn sẽ hài lòng khi ngắm nhìn thiên thần nhỏ của mình trong những bức ảnh của chúng tôi.
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="text-maxim mt-5 font-dacing">
            "Một đứa bé không phải là một chiếc lọ hoa để đổ cho đầy mà là một ngọn lửa cần được thắp sáng!!"
        </div>
    </div>
</div>

<%- include('components/footer') -%>