<%- include('components/header') -%>
<%- include('components/navbar') -%>

<div class="container-fluid">
    <div class="row mt-5">
        <%- include('components/card-baby') -%>
    </div>
    <div class="row font-dacing d-flex justify-content-center">
        <div class="col-12 col-sm-8 fz-standard mgt-10 card-text">
            <h4 class="font-dacing">PHỤ PHÍ</h4> 
            <p>- Chụp tại nhà bán kính 5KM xa hơn phụ phí di chuyển 100k-500k tuỳ khu vực</p>
            <p>- Trang Điểm làm tóc cho mẹ : 300,000 VND Tại Studio ( 400,000 vnd Tại nhà )–Vui lòng Book trước để Studio chuẩn bị cộng tác viên trang điểm (Vì Makeup Không Có Sẳn ) </p>
            <p>- Thêm Bé Lớn chụp cùng em : + 200,000 VND/Cảnh/ trang phục (Gia đình lo trang phục cho bé Lớn)-Thêm người lớn Ông,Bà,Cô, Chú...: 100,000 VND/người</p>
        </div>
    </div>
</div>

<%- include('components/footer') -%>
